/*------------------------------------------------------------------------------------*\
    $LAYOUT RULES
\*------------------------------------------------------------------------------------*/

.content {
	position: relative;
	width: 68.75em; /* 1100px */
	max-width: 100%;
	margin: 0 auto;
	padding: 0.625em; /* 10px */
}

header,
footer {
	background-color: $nied;
}

header {
	text-align: center;
}

nav.top {
	position: relative;
	top: -10px;
	font-size: 0.875rem;
	font-size: 14px;
	text-align: center;
	background-color: $nied;
}

ul.menu {
	padding: 0;
}

ul.menu li {
	display: inline;
	margin: 1.25em;
}

section.featured-video {
	position: relative;
	margin-top: 1.25em;
	background-color: teal;
	.main-video {
		text-align: center;
	}
}