/*------------------------------------------------------------------------------------*\
    $LAYOUT RULES
\*------------------------------------------------------------------------------------*/

.content {
	position: relative;
	width: 68.75em; /* 1100px */
	max-width: 100%;
	margin: 0 auto;
	padding: 0.625em; /* 10px */
}

header,
footer {
	background-color: $nied;
}

header {
	text-align: center;
}

footer {
	margin-top: 4em;
}

nav.top {
	position: relative;
	height: 20px;
	top: -15px;
	font-size: 14px;
	font-size: 0.875rem;
	text-align: center;
	background-color: $nied;
	ul {
		padding: 10px;
	}
}

nav.bottom {
	position: relative;
	top: 20px;
}

ul.menu {
	padding: 0;
	a {
		color: $awhite;
	}
}

ul.menu li {
	display: inline;
	margin: 1.25em;
}

section.featured-video {
	position: relative;
	margin-top: 1.25em;
	// background: url(../img/debut_dark.png);
	background-color: $nied;
	.main-video {
		text-align: center;
		z-index: 1;
	}
}

section.other-videos {
	width: 57.4074074%; /* 620px */
	float: left;

	.video {
		background-color: $nied;
		margin: 0 0 0.625em 0;
		padding: 1.25em;
		height: 6.25em;
	}
}

aside.sidebar {
	background-color: $beast;
	width: 37.037037%; /* 400px */
	float: right;
}

.footer-widget {
	width: 22.5em; /* 360px */
	float: left;
}

.copyright {
	position: relative;
	margin-top: 2em;
	text-align: center;
}